<html>
    <head>
        <title>FAIR query engine</title>
        <link href="https://unpkg.com/@triply/yasgui/build/yasgui.min.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/@triply/yasgui/build/yasgui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
        <h1>FAIR query engine</h1>
        <h2>Edit query for model</h2>
        <p>The model will need the following input variables:</p>
        <table>
            <tr>
                <th>Variable name</th>
                <th>Local parameter name</th>
            </tr>
            {% for modelParam in modelParamsList %}
            <tr>
                <td>{{modelParam.informationElementTypeLabel.value}}</td>
                <td>{{modelParam.local_param_name.value}}</td>
            </tr>
            {% endfor %}
        </table>

        <h3>Current query</h3>
        <div id=saveQueryButton onclick="saveQuery()" style="color: #000; cursor: hand; background: #00bb84; display: inline-block;"><p>Save!</p></div>
        <div id="yasgui"></div>
        <script>
            const yasgui = new Yasgui(document.getElementById("yasgui"), {
                requestConfig: { endpoint: "{{ dataEndpointUrl }}" },
                copyEndpointOnNewTab: false,
            });
            tab = yasgui.getTab()
            tab.setQuery(`{{ queryToUse }}`)

            function saveQuery() {
                tab = yasgui.getTab()
                query = tab.getQuery()
                
                data = {
                    query: query,
                    requestUri: "{{ requestSpecs.id.value }}"
                }

                $.post("http://localhost:5000/", data, function(data, status) {
                    console.log(`${data} and status is ${status}`)
                })
            }
        </script>
        <!-- <style>
            .yasgui .autocompleteWrapper {
              display: none !important;
            }
          </style> -->
    </body>
</html>