<html>
    <head>
        <title>FAIR query engine</title>
        <link href="https://unpkg.com/@triply/yasgui/build/yasgui.min.css" rel="stylesheet" type="text/css" />
        <script src="https://unpkg.com/@triply/yasgui/build/yasgui.min.js"></script>
    </head>

    <body>
        <h1>FAIR query engine</h1>
        <h2>Edit query for model</h2>
        <p>The model will need the following input variables:</p>
        <table>
            <tr>
                <th>Variable name</th>
                <th>Local parameter name</th>
            </tr>
            {% for modelParam in modelParamsList %}
            <tr>
                <td>{{modelParam.informationElementTypeLabel.value}}</td>
                <td>{{modelParam.local_param_name.value}}</td>
            </tr>
            {% endfor %}
        </table>

        <h3>Current query</h3>
        <p>The currently used query is:</p>
        <form method=POST >
            <textarea id="sparqlQuery" name="sparqlQuery">{{ queryToUse }}</textarea>
            <br/>
            <input type="submit" value="Save"/>
        </form>

        <div id="yasgui"></div>
        <script>
            const yasgui = new Yasgui(document.getElementById("yasgui"), {
                yasqe: { sparql: { endpoint: "{{ dataEndpointUrl }}" }},
                copyEndpointOnNewTab: true,
            });
            tab = yasgui.getTab()
            tab.setQuery("{{ queryToUse }}")
        </script>
        <input type="button" value="Save" onclick="window.alert(yasgui.getTab().getQuery())" />
    </body>
</html>