<html>
    <head>
        <title>FAIR query engine</title>
    </head>

    <body>
        <h1>FAIR query engine</h1>
        <h2>List of validation requests pending</h2>
        <table>
            <tr>
                <th>identifier</th>
                <th>date</th>
                <th>model</th>
            </tr>
            {% for vRequest in vRequests %}
            <tr>
                <td><a href="./?requestUri={{ vRequest.id.value | urlencode }}">{{vRequest.id.value}}</a></td>
                <td>{{vRequest.dateTime.value}}</td>
                <td>{{vRequest.model.value}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>